

.landing-page {
    max-width: 800px;
}

.membership {
  &__title {
      // styles for the membership title
  }

  &__tier {
      &-title {
          // styles for the tier title
      }

      &-desc {
          // styles for the tier description
      }
  }
}

.donation {
  &__title {
      // styles for the donation title
  }

  &__desc {
      // styles for the donation description
  }

  &__button {
      // styles for the donation button
  }
}

.join {
  margin-top: 50px;
  &__title {
    font-size: 1.5em;
      // styles for the join title
  }

  &__desc {
    font-size: 1.2em;
  }

  &__button {
    display: block;
    font-size: 1.5em;
    margin: 10px auto;
    padding: 15px 45px;
    background-color: #7cc4c0;
    color: #111;
      // styles for the join button
  }
}
